html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(45deg, #0081ff, #1cbbb4) no-repeat;
}

#app {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#top {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

#content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

#inputContent {
    width: 450px;
    height: 250px;
    position: relative;
    box-shadow: 0px 0px 2px 2px #c1ff5d;
    /* background: linear-gradient(#5affcd, #7ffff9) no-repeat; */
    /* border: 1px solid rgb(238, 245, 103); */
    border-radius: 25px;
    /* border: 1px solid black; */
}

#inputRect {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#inputImg {
    position: absolute;
    float: left;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputFont {
    font-size: 2em;
    color: rgba(131, 131, 131, 0.7);
}

#foot {
    width: 100%;
    height: 25%;
}